<launch>
  <arg name="aligned_points"      default="scan_matched_points2"/>
  <arg name="raw_points"          default="raw_points"/>
  <arg name="sensor_frame"        default="velodyne"/>
  <arg name="map_frame"           default="map"/>
  <arg name="max_range"           default="10.0"/>
  <arg name="resolution"          default="0.07"/>
  <arg name="prob_hit"            default="0.8"/>
  <arg name="prob_miss"           default="0.1"/>
  <arg name="prob_thres_min"      default="0.12"/>
  <arg name="prob_thres_max"      default="0.8"/>
  <arg name="publish_pointcloud"  default="true"/>
  <arg name="publish_vis_marker"  default="true"/>
  <arg name="publish_updates"     default="false"/>

  <node pkg="vdb_mapping_ros" type="esa_vdb_mapping_ros_node" name="vdb_mapping" output="screen">
    <param name="aligned_points"      type="string" value="$(arg aligned_points)"/>
    <param name="raw_points"          type="string" value="$(arg raw_points)"/>
    <param name="sensor_frame"        type="string" value="$(arg sensor_frame)"/>
    <param name="map_frame"           type="string" value="$(arg map_frame)"/>
    <param name="resolution"          type="double" value="$(arg resolution)"/>
    <param name="max_range"           type="double" value="$(arg max_range)"/>
    <param name="prob_hit"            type="double" value="$(arg prob_hit)"/>
    <param name="prob_miss"           type="double" value="$(arg prob_miss)"/>
    <param name="prob_thres_min"      type="double" value="$(arg prob_thres_min)"/>
    <param name="prob_thres_max"      type="double" value="$(arg prob_thres_max)"/>
    <param name="publish_pointcloud"  type="boolean" value="$(arg publish_pointcloud)"/>
    <param name="publish_vis_marker"  type="boolean" value="$(arg publish_vis_marker)"/>
    <param name="publish_updates"     type="boolean" value="$(arg publish_updates)"/>
    <param name="remote_mode"         type="boolean" value="false"/>
  </node>
</launch>
